.contentModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
}

.contentModal::-webkit-scrollbar {
    display: none;
}
    
.contentModalPortrait {
    display: none;
    object-fit: contain;
    border-radius: 5px;
}

.contentModalLandscape {
    object-fit: contain;
    border-radius: 5px;
}

.contentModalAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    height: 100%;
}

.contentModalTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    font-size: 26px;
    padding-bottom: 12.5px;
}

.contentModalTagline {
    align-self: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.contentModalDescription {
    display: flex;
    text-align: justify;
    height: 40%;
    padding: 12px;
    margin-bottom: 2px;
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: inset 0 0 4px #000000;
}

.contentModalDescription::-webkit-scrollbar {
    display: none;
}

