.header {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: rgb(62, 39, 211);
    font-family: "Nunito Sans", sans-serif;
    font-size: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    box-shadow: 0px 2px 6px black;
    color: white;
    cursor: pointer;
    z-index: 100;  /* stay at top */ 
  }