.pageTitle {
    display: flex;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 36px;
    padding-bottom: 10px;
}

.popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.series {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search {
    display: flex;
    margin: 20px, 0px;
}

