.header {
    width: 100%;
    justify-content: center;
    position: fixed;  /* causing issues with too large of screen? */
    display: flex;
    background-color: rgb(106, 90, 205);
    font-family: "Nunito Sans", sans-serif;
    font-size: 4.5vw;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0px 2px 6px black;
    color: white;
    cursor: pointer;
    z-index: 100;  /* stay at top */ 
  }