.content {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    width: 200px;
    padding: 4px;
    margin: 5px 0px;
    border-radius: 9px;
    background-color: rgb(31, 29, 40);
}

.content:hover {
    background-color: rgb(106, 90, 205);;
}

.poster {
    border-radius: 9px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 5px 1px 5px 1px;
}

.subtitle {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 0px 8px 2px 10px;
}
