.app {
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 75px;
  background-color: rgb(62, 60, 79);
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

* {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}